# =========================
# Carpeta privada personal
# =========================
private/
Private/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Mis scripts GitHub
# =========================
release.sh